<html style="background-color: rgb(203,203,203)">
<body style="width: 600px !important; height: 589px !important; background-color: rgb(255,255,255); ">
<span style="background-color: rgb(255,255,255)">
<a style="text-align: center" align="center" href="http://www.gosoundcast.com"><img src="{{ 'soundcastbanner.jpg' | asset_url }}"></a>
<br>
{% if customer.name %}
<p style="margin-left: 25px;">Dear {{ customer.name }},</p>
{% endif %}
<p style="margin-left: 25px;">An account has been created for you on <a href="http://www.gosoundcast.com">goSoundcast.com</a></p>
<p style="margin-left: 25px;">Please visit this url to activate your account and set your password. </p>
<p style="margin-left: 25px;">{{ customer.account_activation_url }}</p>
<p style="margin-left: 25px;">If the account was created in error, you can visit the link above and select "Decline" to decline this invitation.</p>
<p style="margin-left: 25px;">Thank you,</p>
<p style="margin-left: 25px;">Soundcast</p>
<p style="margin-left: 25px;"><a href="mailto:info@goSoundcast.com">info@goSoundcast.com</a></p>
<p style="margin-left: 25px;">(619) 591-0126</p>
<p style="margin-left: 25px;">1 (800) 722-1293</p>
<!--- FOOTER -->
<div style="background-color: rgb(236,236,236)">

<br>

	<div style="text-align:center" align="center"><span style="font-size:10pt"><strong>Thank you again and don't forget to follow Soundcast on social media</strong></span></div>

	<div style="text-align:center" align="center"><strong>for the latest offers, news, and how-to's!</strong></div>

<br>

	<div style="text-align:center" align="center">

		<a style="font-size:10pt" href="https://www.facebook.com/SoundcastSystems"  target="_blank"><img style="height:30px; width: 30px;" src="{{ 'facebook-email.png' | asset_url }}"</a>

		<a style="font-size:10pt" href="http://instagram.com/soundcast" target="_blank"><img style="height:30px; width: 30px;" src="{{ 'instagram-email.png' | asset_url }}"></a>

		<a style="font-size:10pt" href="https://twitter.com/soundcast360" target="_blank"><img style="height:30px; width: 30px;" src="{{ 'twitter-email.png' | asset_url }}"></a>

		<a style="font-size:10pt" href="http://www.pinterest.com/soundcast" shape="rect" target="_blank"><img style="height:30px; width: 30px;" src="{{ 'pinterest-email.png' | asset_url }}"></a>

	</div>

	<p style="margin-left: 25px;">LIKE on Facebook: <a href="www.facebook.com/SoundcastSystems" target="_blank"> www.facebook.com/SoundcastSystems </a></p>

	<p style="margin-left: 25px;">Love on Instagram: <a href="www.instagram.com/Soundcast" target="_blank"> www.instagram.com/Soundcast</a></p>

	<p style="margin-left: 25px;">Tweet on Twitter: <a href="www.twitter.com/goSoundcast" target="_blank"> www.twitter.com/goSoundcast </a></p>

	<p style="margin-left: 25px;">Pin on Pinterest: <a href="www.pinterest.com/Soundcast" target="_blank"> www.pinterest.com/Soundcast </a></p>

<br>

</div>



</span>
</body>
</html>