<div id="awards" class="page-section">
	<header class="section-header">
		<h1 class="section-title">Award Winning</h1>
	</header>

		<ul class="awards-melody awards-list container clearfix">
			<li class="award col-sm-2 col-xs-6"><img class="img-responsive" src="{{'awards1.png' | asset_url}}"></li>
			<li class="award col-sm-2 col-xs-6"><img class="img-responsive" src="{{'awards2.png' | asset_url}}"></li>
			<li class="award col-sm-2 col-xs-6"><img class="img-responsive" src="{{'awards3.png' | asset_url}}"></li>
			<li class="award col-sm-2 col-xs-6"><img class="img-responsive" src="{{'awards4.png' | asset_url}}"></li>
			<li class="award col-sm-2 col-xs-6"><img class="img-responsive" src="{{'awards5.png' | asset_url}}"></li>
			<li class="award col-sm-2 col-xs-6"><img class="img-responsive" src="{{'awards6.png' | asset_url}}"></li>
		</ul>

</div>