

<div id="page-body">
<div id="main" class="page-section">
    <div class="container">
        <header class="section-header">
        {% if product.tags contains 'sale' %}
                        <!-- <div class="sales smallGrey sale">SALE</div> -->
                        {% elsif product.available %}
                        {% else %}
                        <div class="sales smallGrey sale">SOLDOUT</div>
                        {% endif %}

            <h1 class="section-title">{{ product.title }}</h1>
            {% if product.title == 'UAT' %}
            <h4 class="section-subtitle text-center">Universal Audio Transmitter</h4>
            {% elsif product.handle contains 'bluetooth-hd' %}
            <h4 class="section-subtitle text-center">with BlueCast Bluetooth® HD</h4>
            {% endif %}

        </header>

        <div class="row">
            <!-- Left Arrow -->
            <div class="nav-left col-md-1 hidden-xs">
                <!-- left arrow (first product?) -->


                {% if collection %}
                    {% if collection.previous_product %}
                        {% if collection.previous_product %}
                          {{ '<span class="fa fa-angle-left fa-4x"></span>' | link_to: collection.previous_product }}</span>
                        {% endif %}
                    {% endif %}
                {% endif %}

            </div>

            <!-- Middle Section with Images -->
            <div class="product-media col-md-5 col-md-offset-1 col-sm-6 col-xs-12">
                <p class="product-image">
                    <div id="appendoimago"></div>
                    <img id="image" class="img-responsive imagoz lazyOwl" src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{product.title}}" />
                </p>

                <div class="product-gallery hidden-xs clearfix">
                    <div class="gallery-arrow arrow-left">
                        <a class="prev">
                            <span class="fa fa-chevron-left"></span>
                        </a>
                    </div><!-- /.arrow-left -->

                    <div id="gallery-slider" class="gallery-body clearfix">
                    {% for image in product.images %}


                    <a href="{{ image.src | product_img_url: 'original' }}" onclick="return false;"><img alt="{{product.title}}" style="max-width: 100%;" class="img-responsive lazyOwl img-circle" data-src={{ image.src | product_img_url: 'original' }} id="imago" /></a>


                    {% endfor %}
                    </div><!-- /.gallery-body -->

                    <div class="gallery-arrow arrow-right">
                        <a class="next">
                            <span class="fa fa-chevron-right"></span>
                        </a>
                    </div><!-- /.arrow-right -->
                </div>

            </div>




            <!-- Middle Right Section with Call To Action -->
            <div class="product-details col-md-5 col-sm-6 col-xs-12">
                <div class="row">
                    <!-- Product Details Visible -->
                    <div id="action-block" class="detail-block row">
                        <div class="product-info col-sm-6 col-xs-5 text-center">
                            <div class="row">
                                <!-- Price -->
                                {% if product.tags contains 'sale' %}
                        <span class="product-price lead">{{ product.price | money }}{% if product.compare_at_price_max > product.price %} <span class="old-price">{{ product.compare_at_price_max | money }}</span>{% endif %}</span>
                        {% else %}
                         <span class="product-price lead">{{product.price | money }}</span>
                        {% endif %}

                                <p class="font12">Model #{{ product.variants.first.sku }}</p>

                            </div>
                            <div class="hidden-xs">
                                <div class="rating-wrapper row">
                                   <p class="no-rating">
                                        <a href="#disqus"> Review this Product!</a>
                                        {% include 'rw-rating' %}
                                   </p>
                                </div>
                            </div>

                            <div class="visible-xs">
                                <div class="rating-wrapper col-xs-12  text-center">
                                   <p class="no-rating">
                                        <a href="#disqus"> Review this Product!</a>
                                        {% include 'rw-rating' %}
                                   </p>
                                </div>
                            </div>



                            <div class="social-block-wrapper row">
                                <div class="col-xs-4">
                                <div class="pinterest-pin">
                                    <a href="//www.pinterest.com/pin/create/button/?url=&media=&description=" data-pin-do="buttonPin" data-pin-config="none">
                                        <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
                                    </a>
                                </div>
                                </div>
                                <div class="col-xs-6">
                                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FSoundcastSystems&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
                                </div>
                            </div>
                        </div>

                        <div class="product-actions col-sm-6 col-xs-7">
                            <div class="row">
                                <!-- Add to cart -->
                            <form method="post" action="/cart/add">
                              <input name="id" type="hidden" value="{{ product.variants.first.id }}" />
                              <input name="quantity" style="display:inline; width: 40px" type="text" value="1" class="hidden"/>
                            <button type="submit" name="add" class="btn btn-addtocart btn-productaction">Add To Cart<span class="fa fa-shopping-cart"></span></button>
                            </form>

                            </div>
                            <div class="row">
                                <a href="/pages/find-retailers" class="btn btn-retail btn-productaction">
                                    Find a Retailer   <span class="fa fa-map-marker"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <!-- Product Short Description -->
                        <div class="shortdesc-block detail-block row">
                            <div class="short-description">
                                {{product.content}}
                            </div>
                        </div><!-- /.shortdesc-block -->


                        <div class="additional-block detail-block row">
                            <div class="cutsheets-block col-md-8 col-sm-7 col-xs-6">

                                <p>

                                    <!-- Spec Cutsheet -->
                                {% if product.tags contains 'regoutcast' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/product_cutsheets/outcast-lores.pdf">
                                {% elsif product.tags contains 'jr' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/product_cutsheets/outcastjr-lores.pdf">
                                {% elsif product.title == 'UAT' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/product_cutsheets/uat-lores.pdf">
                                {% elsif product.title == 'iCast' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/product_cutsheets/icast-lores.pdf">
                                {% elsif product.title == 'SubCast' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/product_cutsheets/subcast-lores.pdf">
                                {% elsif product.title == 'SurroundCast' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/product_cutsheets/surroundcast-lores.pdf">
                                {% elsif product.title == 'BlueCast' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/product_cutsheets/bluecast-lores.pdf">
                                {% elsif product.title == 'Melody' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/product_cutsheets/melody-lores.pdf">
                                {% elsif product.tags contains 'jr-bundle' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/docs/Soundcast_OutCastJr_1.2_with%20BlueCast_Product_Sheet_050114_wh_lrz.pdf">
                                {% elsif product.tags contains 'outcast-bundle' %}
                                    <a target="_blank" class="btn btn-viewinfo btn-sm" href="http://cdn.gosoundcast.com/docs/Soundcast_OutCast_1.2_with%20BlueCast_Product_Sheet_050114_wh_lrz.pdf">

                                {%endif%}



                                    {{product.title}} Spec Sheet <i class="fa fa-download"></i></a>



                                </p>
                            </div>



                            <div class="support-block col-md-4 col-sm-4 col-xs-4">
                                <p>


                                {% if product.title == 'OutCast Jr.' %}
                                <a class="btn btn-viewinfo btn-sm" href="/pages/support-outcastjr">
                                {%else%}
                                    <a class="btn btn-viewinfo btn-sm" href="/pages/support-{{product.title}}">
                                {%endif%}





                                {{product.title}} Support</a></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Arrow -->
            <div class="nav-right col-md-1 hidden-xs">
    {% if collection %}
      {% if collection.next_product %}
        {% if collection.previous_product %}{% endif %}
          {{ '<span class="fa fa-angle-right fa-4x"></span>' | link_to: collection.next_product }}</span>
      {% endif %}
    {% endif %}

            </div>
        </div>
    </div>
</div><!-- END: #main-->
</div>
