        <div class="row">
            <div class="col-lg-8 col-md-8">
        {% for article in blogs["blog"].articles %}
            {% if article.tags contains'classic' %}
                <div class="blogPostClassic">
                    <div class="blogThumb">
                        <a href="{{article.url}}"><img src="{{article.excerpt}}" alt="" class="img-responsive"/></a>
                        <div class="thumbBar"></div>
                    </div>
                    <table border="1" class="blogDetails">
                    <tr>
                    <td><a href="#"><img src="{{'dateIcon.png' | asset_url }}" alt="" class="blogIcon" />{{ article.published_at | date: '%b-%d' }}</a></td>
                    <!-- <td><a href="{{article.url}}#disqus_thread"></a></td> -->
                    </tr>
                    </table>
                    <h4><a href="{{article.url}}">{{article.title}}</a></h4>
                    <p>{{ article.content | strip_html | truncate: 250 }}</p><br/>
                    <a href="{{article.url}}" class="buttonz subHeadBtn">READ MORE</a>
                </div>
                <div class="dividerWidget"></div>
            {% endif %}

    {% if article.tags contains 'photo' %}
            <div class="blogPostClassic">
                <div class="blogThumb">
                <ul class="bxsliderBlog">
                    {{article.excerpt}}
                </ul>
                    <div class="thumbBar"></div>
                </div>
                <table border="1" class="blogDetails">
                    <tr>
                    <td><a href="#"><img src="{{'dateIcon.png' | asset_url }}" alt="" class="blogIcon" />{{ article.published_at | date: '%b-%d' }}</a></td>
                    <!-- <td><a href="{{article.url}}#disqus_thread"></a></td> -->
                    </tr>
                </table>
                <h4><a href="{{article.url}}">{{article.title}}</a></h4>
                    <p>{{ article.content | strip_html | truncate: 250 }}</p><br/>
                    <a href="{{article.url}}" class="buttonz subHeadBtn">READ MORE</a>
            </div>
            <div class="wrapper"></div>
                <br>
            
    {% endif %}            
        {% endfor %}


                

            </div><!-- end posts -->
