<div id="features-text" class="melody-features">
	<div class="feature-block left-block">
		<a href="{{ 'melody-pool-couple.png' | asset_url }}" class="thumb" onclick="return false;" style="cursor: pointer;">
			<div class="feature-pdp section-1 feature-item feature-item-1 clearfix">
				<div class="feature-icon icon-weather-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Weather Resistant Design</h2>
					<p>Entertain indoors or outdoors thanks to Melody’s weather resistant enclosure</p>
				</div>
			</div>
		</a>
		<a href="{{ 'melody-boat-sea-exterior.jpg' | asset_url }}" class="thumb" onclick="return false;" style="cursor: pointer;">
			<div class="feature-pdp section-1 feature-item feature-item-2 clearfix">
				<div class="feature-icon icon-battery-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Built-in 20 Hour Rechargeable Battery</h2>
					<p>Play up to 20 hours with a built-in high capacity lithium-ion battery</p>
					
				</div>
			</div>
		</a>
		<a href="{{ 'melody-picnic-exterior.jpg' | asset_url }}" class="thumb" onclick="return false;" style="cursor: pointer;">		
			<div class="feature-pdp section-1 feature-item feature-item-3 clearfix">
				<div class="feature-icon icon-plugin-32"></div>
				<div class="feature-description hidden-xs">
					<h2>CD-Quality Audio with Apt-X and AAC</h2>
					<p>Connect any of your audio sources with the built-in AUX input port</p>
				</div>
			</div>
		</a>

	</div>
	<div class="feature-block right-block">
		<a href="{{'feature.jpg' | asset_url}}" class="thumb" onclick="return false;" style="cursor: pointer;">		
			<div class="feature-pdp section-1 feature-item feature-item-4 clearfix">
				<div class="feature-icon icon-surround-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Incredible 360º Sound</h2>
					<p>Experience 360° sound with our omni-directional speaker technology</p>
				</div>
			</div>
		</a>
		<a href="{{'feature.jpg' | asset_url}}" class="thumb" onclick="return false;" style="cursor: pointer;">		
			<div class="feature-pdp section-1 feature-item feature-item-5 clearfix">
				<div class="feature-icon icon-keypad-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Built-in Keypad Controls</h2>
					<p>Control your music without touching your device with Melody’s built-in controls</p>
				</div>
			</div>
		</a>
		<a href="{{'melody-model_2.jpg' | asset_url}}" class="thumb" onclick="return false;" style="cursor: pointer;">
			<div class="feature-pdp section-1 feature-item feature-item-6 clearfix">
				<div class="feature-icon icon-handle-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Comfortable Carrying Handle</h2>
					<p>Grab the stylish built-in handle and take Melody anywhere the music takes you</p>
				</div>
			</div>
		</a>
	</div>
</div>