<div id="features-text" class="melody-features">
	<div class="feature-block left-block">
		<a href="{{ 'jr1.jpg' | asset_url }}" class="thumb" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-1 clearfix">
				<div class="feature-icon icon-weather-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Weather Resistant Design</h2>
					<p>Entertain indoors or outdoors thanks to Melody’s weather resistant enclosure</p>
				</div>
			</div>
		</a>
		<a href="{{ 'jr2.jpg' | asset_url }}" class="thumb" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-2 clearfix">
				<div class="feature-icon icon-battery-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Built-in 15 Hour Rechargeable Battery</h2>
					<p>Play up to 15 hours with a built-in high capacity lithium-ion battery</p>
					
				</div>
			</div>
		</a>
		<a href="{{ 'jr3.jpg' | asset_url }}" class="thumb" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-3 clearfix">
				<div class="feature-icon icon-plugin-32"></div>
				<div class="feature-description hidden-xs">
				{% if product.handle contains 'bluetooth-hd' %}
				<h2>Bluetooth® HD Enabled w/ Included BlueCast Adaptor</h2>
				{% else %}
					<h2>Works with BlueCast Bluetooth&reg; HD Receiver</h2>
				{% endif %}
					<p>Stream your music from a wide array of devices to your OutCast Jr. via Bluetooth&reg; HD technology</p>
				
				</div>
			</div>
		</a>

	</div>
	<div class="feature-block right-block">
		<a href="{{'jr4.jpg' | asset_url}}" class="thumb" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-4 clearfix">
				<div class="feature-icon icon-surround-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Incredible 360º Sound</h2>
					<p>Experience 360° sound with our omni-directional speaker technology</p>
				</div>
			</div>
		</a>
		<a href="{{'jr5.jpg' | asset_url}}" class="thumb" onclick="return false;">		
			<div class="feature-pdp section-1 feature-item feature-item-5 clearfix">
				<div class="feature-icon icon-keypad-32"></div>
				<div class="feature-description hidden-xs">
					<h2>6" Woofer and 100 Watts of Audio Power</h2>
					<p>Achieve ground shaking bass with a 6” down-firing subwoofer and 60 watts of audio power</p>
				</div>
			</div>
		</a>
		<a href="{{'jr6.jpg' | asset_url}}" class="thumb" onclick="return false;">
			<div class="feature-pdp section-1 feature-item feature-item-6 clearfix">
				<div class="feature-icon icon-handle-32"></div>
				<div class="feature-description hidden-xs">
					<h2>Comfort Carrying Handle</h2>
					<p>Control your music without touching your device with OutCast Jr.’s built-in controls</p>
				</div>
			</div>
		</a>
	</div>
</div>