						<a id="resources-icast" class="section-anchor"></a>
						<section id="resources-icast-collapse" class="resources resources-icast">
							<header class="subsection-header clearfix">
								<h1 class="subsection-title">
									<a data-toggle="collapse" data-parent="#resources-icast-collapse" href="#icast-section" class="collapsed">iCast <i class="fa fa-caret-down"></i></a>
								</h1>
							</header>
							<div id="icast-section" class="collapse resources-collapse">
								<section class="resources-section">
									<header class="subsection-header clearfix">
										<h1 class="subsection-title">Lifestyle Photography</h1>
									</header>
									<ul class="row" id="icast-life">
									{% raw %}
										<script id="i-lifestyle" type="text/x-handlebars-template">
										{{#each this}}
											<li class="resource col-xs-6 col-sm-3">
												<div class="thumbs">
													<div class="thumb-wrapper">
														<img src="{{image}}">
													</div>
													<a href="{{link}}">
														<span class="title">
															<span><i class="fa fa-cloud-download fa-2x"></i></span>
														</span>
													</a>
													<p>{{title}}</p>
												</div>
											</li>
										{{/each}}
										</script>
									{% endraw %}
									</ul>
								</section>

								<section class="resources-section">
									<header class="subsection-header clearfix">
										<h1 class="subsection-title">Product Photography</h1>
									</header>
									<ul class="row" id="icast-product">
									{% raw %}
										<script id="i-product" type="text/x-handlebars-template">
										{{#each this}}
											<li class="resource col-xs-6 col-sm-3">
												<div class="thumbs">
													<div class="thumb-wrapper">
														<img src="{{image}}">
													</div>
													<a href="{{link}}">
														<span class="title">
															<span><i class="fa fa-cloud-download fa-2x"></i></span>
														</span>
													</a>
													<p>{{title}}</p>
												</div>
											</li>
										{{/each}}
										</script>
									{% endraw %}
									</ul>
								</section>
							</div>
						</section><!-- /.resources-icast -->