<html style="background-color: rgb(203,203,203)">
	<body style="width: 600px !important; height: 874px !important; background-color: rgb(255,255,255);">
		<span style="background-color: rgb(255,255,255)">

		<a style="text-align: center" align="center" href="http://gosoundcast.com">{{ 'thank.jpg' | asset_url | img_tag }}</a>

		<p style="margin-left: 25px;">Dear {{ billing_address.name }},</p>
		<p style="margin-left: 25px;">Thank you for placing your order with goSoundcast.com! Get ready to start your journey with great sound</p>
		<p style="margin-left: 25px;">and go places with your ultimate outdoor speaker!</p>
		<p style="margin-left: 25px;"><strong>Order Date</strong>: {{ date | date: "%m/%d/%Y" }}</p>

		{% if requires_shipping and shipping_address %}

			<ul style="padding-left:0; margin-left: 25px;"><strong>Shipped to:</strong>
				<li style="margin-left: 50px; list-style-type: none;">{{ shipping_address.name }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ shipping_address.street }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ shipping_address.city }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ shipping_address.province }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ shipping_address.zip }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ shipping_address.country }}</li>
			</ul>

		{% endif %}

		{% if billing_address %}

			<ul style="padding-left:0; margin-left: 25px;"><strong>Billed to:</strong>
				<li style="margin-left: 50px; list-style-type: none;">{{ billing_address.name }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ billing_address.street }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ billing_address.city }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ billing_address.province }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ billing_address.zip }}</li>
				<li style="margin-left: 50px; list-style-type: none;">{{ billing_address.country }}</li>
			</ul>

		{% endif %}

		{% if discounts %}

			<p style="margin-left: 25px;"><strong>Discounts</strong> : {{ discounts_savings | money_with_currency }}</p>

		{% endif %}

		<p style="margin-left: 25px;"><strong>Subtotal</strong> : {{ subtotal_price | money_with_currency }}</p>

		{% for tax_line in tax_lines %}

			<p>{{ tax_line.title }} : {{ tax_line.price | money_with_currency }}</p>

		{% endfor %}

		{% if requires_shipping %}

			<p style="margin-left: 25px;"><strong>Shipping</strong> : {{ shipping_price | money_with_currency }}</p>

		{% endif %}

		<p style="margin-left: 25px;"><strong>Total</strong> : {{ total_price | money_with_currency }}</p>

		<p style="margin-left: 25px;">Thank you,</p>
		<p style="margin-left: 25px;">Soundcast</p>
		<p style="margin-left: 25px;"><a href="mailto:info@goSoundcast.com">info@goSoundcast.com</a></p>
		<p style="margin-left: 25px;">(619) 591-0126</p>
		<p style="margin-left: 25px;">1 (800) 722-1293</p>

		<br>

		<!--- FOOTER -->
		<div style="background-color: rgb(236,236,236)">

<br>

	<div style="text-align:center" align="center"><span style="font-size:10pt"><strong>Thank you again and don't forget to follow Soundcast on social media</strong></span></div>

	<div style="text-align:center" align="center"><strong>for the latest offers, news, and how-to's!</strong></div>

<br>

	<div style="text-align:center" align="center">

		<a style="font-size:10pt" href="https://www.facebook.com/SoundcastSystems"  target="_blank"><img style="height:30px; width: 30px;" src="{{ 'facebook-email.png' | asset_url }}"</a>

		<a style="font-size:10pt" href="http://instagram.com/soundcast" target="_blank"><img style="height:30px; width: 30px;" src="{{ 'instagram-email.png' | asset_url }}"></a>

		<a style="font-size:10pt" href="https://twitter.com/soundcast360" target="_blank"><img style="height:30px; width: 30px;" src="{{ 'twitter-email.png' | asset_url }}"></a>

		<a style="font-size:10pt" href="http://www.pinterest.com/soundcast" shape="rect" target="_blank"><img style="height:30px; width: 30px;" src="{{ 'pinterest-email.png' | asset_url }}"></a>

	</div>

	<p style="margin-left: 25px;">LIKE on Facebook: <a href="www.facebook.com/SoundcastSystems" target="_blank"> www.facebook.com/SoundcastSystems </a></p>

	<p style="margin-left: 25px;">Love on Instagram: <a href="www.instagram.com/Soundcast" target="_blank"> www.instagram.com/Soundcast</a></p>

	<p style="margin-left: 25px;">Tweet on Twitter: <a href="www.twitter.com/goSoundcast" target="_blank"> www.twitter.com/goSoundcast </a></p>

	<p style="margin-left: 25px;">Pin on Pinterest: <a href="www.pinterest.com/Soundcast" target="_blank"> www.pinterest.com/Soundcast </a></p>

<br>

</div>

</span>
</body>
</html>
